<h1>Item: <%= item.name %></h1>
<p>Description: <%= item.description %></p>
<p>Category: <a href=<%= item.category.url %>><%= item.category.name %></a></p>
<p>Price (per kg): <%= item.price %> Rs</p>
<p>Killograms available in stock: <%= item.numberInStock %> kg</p>
<% if (item.image) { %>
<p>Image:</p>
<img class="item-image" src="/<%= item.image %>" alt="">
<% } %>
<hr>
<div class="manage-links">
  <a href="/item/<%= item._id %>/update">Update</a> <a href="/item/<%= item._id %>/delete">Delete</a>
</div>
<style>
  .item-image {
    border: 2px solid black;
    max-height: 100px;
  }
</style>